/* shared styles */
html, body {
  width:100%;
  height:100%;

}

html
{
  display:table;
}

body
{
   text-align:center;
   display:table-cell;
   vertical-align:middle;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}

#topbar {
    background-color: #7FBDC0;
    width:100%;
    position:absolute;
    min-height:50%;
    height:auto;
    top:0;
    z-index:-1;
}
#statusMsg
{
	font-size:24pt;
	font-family: CurseCasual;
}

#bottombar {
    background-color:#8A7B72;
    width:100%;
    height:auto;
    min-height:50%;
    position:absolute;
    bottom:0;
    z-index:-1;
}

#middlebar {
    height:480px;
    margin:0 auto;
    background-image:url('../images/web_bg_grad.jpg');
    background-repeat:repeat-x;
}

#maincontent {
    width:320px;
    height:480px;
    margin-left:auto;
    margin-right:auto;
    background-image:url('../images/dilo_bg.jpg');
    background-repeat:no-repeat;
    font-family: CurseCasual;
	font-size: 24px;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hideAtInit
{
    display:none;
}

/* waiting screen styles */

#matching-block {
	border: 2px solid #000000;
    background-color: #ffff00;
	display: block;
	margin-top: 10px;
    margin-bottom:10px;
	padding: 10px;
	width:auto;
}

#vocab-study {
    background-color: #ffffff;
}

#vocab-study .small-prompt {
    display:block;
    background-color:#606060;
    color:#ffffff;
    width:150px;
    font-size:.8em;
}

#vocab-study div.word-prompt {
    display:none;
}

.prompt {
    font-size:1.5em;
}

.loginForm {
	font-size:1.5em;
}

.translation {
  color:#C80000;
}

/* countdown styles */

#downer {
	display: block;
	margin-top: 10px;
    margin-bottom:10px;
	padding: 0px;
	width: 100%;
}

#downer h1 {
	color: #333;
	display: none;
	font-weight: bold;
    font-size:10em;
	text-align: center;
}

#downer h1:first-child {
	display: block;
}

/* question styles */

#scores
{
    display:block;
    width:100%;
}

.scorebox
{
    display:inline-block;
    width:152px;
    height:74px;
}

#player1
{
    float:left;
    background-image:url('../images/dilo_css_sprite.png');
    background-position: 0px -670px;
}

#player2
{
    float:right;
    background-image:url('../images/dilo_css_sprite.png');
    background-position: -165px -670px;
}

.scorerow
{
    display:block;
}

.scoreIcon
{
    float:left;
}

.scoreNumber
{
    float:right;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align:middle;
}

.scoreScore
{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align:middle;
    font-family:LuckiestGuy;
    font-size: 22pt;
    padding-right: 10px;
    margin-top: 10px;
}

.namerow
{
    display:block;
    padding-top: 1px;
    font-size: 16pt;
}

#stem {
    opacity:1.0;
    background-image:url('../images/dilo_css_sprite.png');
    background-position: 0px -500px;
    width:320px;
    height:83px;
    margin-top: 25px;
    margin-bottom: 25px;
}


#prompt
{
    color:#ffffff;
    font-size:24pt;
    font-family: CurseCasual;
}

#answer
{
	color:#ffffff;
	font-size:16pt;
	font-family: CurseCasual;
}


.answerChoice {
    font-family: CurseCasual;
    font-size: 24pt;
    vertical-align: middle;
    background-image:url('../images/dilo_css_sprite.png');
    width:320px;
    height:55px;
}

.answerChoice.unselected { background-position:0px 0px; }
.answerChoice.unselected-correct { background-position:0px -55px; }
.answerChoice.unselected-incorrect { visibility: hidden; }
.answerChoice.disabled { background-position: 0px -110px; }
.answerChoice.player1 { background-position: 0px -165px; }
.answerChoice.player1-correct { background-position: 0px -220px; }
.answerChoice.player1-incorrect { background-position: 0px -275px; }
.answerChoice.player2 { background-position: 0px -330px; }
.answerChoice.player2-correct { background-position: 0px -385px; }
.answerChoice.player2-incorrect { background-position: 0px -440px; }

@font-face { font-family: LuckiestGuy; src: url('../fonts/LuckiestGuy.ttf'); }
@font-face { font-family: CurseCasual; src: url('../fonts/Curse Casual JVE.ttf'); }

#scorebar {
    width:100%;
    background-color:#009933;
    color:#000000;
}

table#table1 {
	width:70%; 
	margin-left:15%; 
	margin-right:15%;
}