/* shared styles */
body {
    width:320px;
    background-image:url('../images/dilo_bg.jpg');
    background-repeat:no-repeat;
    font-family: CurseCasual;
}

.centered
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hideAtInit
{
    display:none;
}

/* waiting screen styles */

#matching-block {
	border: 2px solid #000000;
    background-color: #ffff00;
	display: block;
	margin-top: 10px;
    margin-bottom:10px;
	padding: 10px;
	width:auto;
}

#vocab-study {
    background-color: #ffffff;
}

#vocab-study .small-prompt {
    display:block;
    background-color:#606060;
    color:#ffffff;
    width:150px;
    font-size:.8em;
}

#vocab-study div.word-prompt {
    display:none;
}

.prompt {
    font-size:1.5em;
}

.translation {
  color:#C80000;
}

/* countdown styles */

#downer {
	display: block;
	margin-top: 10px;
    margin-bottom:10px;
	padding: 0px;
	width: 100%;
}

#downer h1 {
	color: #333;
	display: none;
	font-weight: bold;
    font-size:10em;
	text-align: center;
}

#downer h1:first-child {
	display: block;
}

/* question styles */

#scores
{
    display:block;
    width:100%;
}

.scorebox
{
    display:inline-block;
    width:152px;
    height:74px;
}

#player1
{
    float:left;
    background-image:url('../images/dilo_css_sprite.png');
    background-position: 0px -670px;
}

#player2
{
    float:right;
    background-image:url('../images/dilo_css_sprite.png');
    background-position: -165px -670px;
}

.scorerow, .namerow
{
    display:block;
}

.scoreIcon
{
    float:left;
}

.scoreNumber
{
    float:right;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align:middle;
}

.scoreScore
{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align:middle;
    font-family:LuckiestGuy;
    font-size: 18pt;
}


#stem {
    opacity:.8;
    background-image:url('../images/dilo_css_sprite.png');
    background-position: 0px -500px;
    width:320px;
    height:83px;
}

#prompt
{
    color:#ffffff;
    font-size:24pt;
    font-family: CurseCasual;
}

.answerChoice {
    font-family: CurseCasual;
    font-size: 18pt;
    vertical-align: middle;
    background-image:url('../images/dilo_css_sprite.png');
    width:320px;
    height:55px;
}

.answerChoice.unselected { background-position:0px 0px; }
.answerChoice.unselected-correct { background-position:0px -55px; }
.answerChoice.unselected-incorrect { visibility: hidden; }
.answerChoice.disabled { background-position: 0px -110px; }
.answerChoice.player1 { background-position: 0px -165px; }
.answerChoice.player1-correct { background-position: 0px -220px; }
.answerChoice.player1-incorrect { background-position: 0px -275px; }
.answerChoice.player2 { background-position: 0px -330px; }
.answerChoice.player2-correct { background-position: 0px -385px; }
.answerChoice.player2-incorrect { background-position: 0px -440px; }

@font-face { font-family: LuckiestGuy; src: url('../fonts/LuckiestGuy.ttf'); }
@font-face { font-family: CurseCasual; src: url('../fonts/Curse Casual JVE.ttf'); }

#scorebar {
    width:100%;
    background-color:#009933;
    color:#000000;
}
